/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 00px;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.header-logo img {
    width: 50px;
    margin-right: 10px;
}

.header-logo .logo-text {
    font-size: 15px;
    font-weight: 600;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile-nav-links a {
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.mobile-nav-links a:hover {
  color: #999; 
}

.mobile-nav-links.visible {
  display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hidden {
    display: none;
    animation: fadeOut 0.5s forwards;
}

.visible {
    display: flex;
    animation: fadeIn 0.5s forwards;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #999; 
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header-logo .logo-text {
      display: none;
  }
  .nav-links {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
}

/* Hero Section */

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/oooscillate-final.svg') no-repeat center center;
    background-size: contain;
    background-position: center calc(50% - 220px);
  }
  
  .hero-title {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.title {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 96px;
  color: black;
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    color: black;
}

.description {
  font-size: 24px;
  font-weight: 100;
  text-transform: capitalize;
  color: black;
  margin-bottom: 50px;
  width: 80%;
}

.service-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.service-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: box-shadow 0.3s ease;
}

.service-button:hover {
  box-shadow: 4px 8px 0.1px rgba(0, 0, 0, 1);
}

.button-text {
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
}

.learn-more {
display: inline-block;
margin-top: 5rem;
font-size: 1rem;
color: #999;
text-decoration: none;
position: relative;
}

.learn-more::after {
content: '\f107'; /* FontAwesome arrow */
font-family: "FontAwesome";
font-size: 1.5rem;
display: block;
margin-top: 0.5rem;
} 

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .hero-title {
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 180px;
  }
  .service-links {
    width: 80%;
  }
}
  
/* Services Section */

.services-section {
  margin-top: 50px;
  text-align: center;
  padding: 50px 50px;
}

.section-title {
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}

.tagline {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  text-transform: capitalize;
}

/* Service Cards */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.service-card {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.service-card:hover {
  box-shadow: 4px 8px 0.1px rgba(0, 0, 0, 1);
}

.service-card h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.service-card ul {
  text-align: left;
  list-style-type: disc;
  margin-bottom: 20px;
}

.service-card li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.learn-more-btn {
  background-color: white;
  border: 4px solid black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: auto;
}

.learn-more-btn:hover {
  background-color: black;
  color: white;
}

/* Reviews Section */

.reviews-section {
  padding: 50px;
  background-color: #f0f0f0;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.review-item {
  flex: 1 1 calc(33.333% - 20px); /* Three items per row with spacing */
  background-color: white;
  padding: 20px;
  border: 4px solid black;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
}

.review-item:hover {
  box-shadow: 4px 8px 0.1px rgba(0, 0, 0, 1);
}

.review-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.review-content h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.review-content h4 {
  font-size: 1rem;
  color: #666;
  margin-top:auto;
}

@media (max-width: 768px) {
  .review-item {
    flex: 1 1 100%; /* Full width for smaller screens */
  }
  .container {
    padding: 0 15px;
  }
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

/* Footer */

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer h1 {
    font-size: 30px;
    font-weight: 600;
    padding: 50px;
    margin-bottom: auto;
}

footer button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 50px;
}
