{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dunosis is a technology company that specializes in advanced data analytics, stunning web development, and insightful tech consulting.">
    <meta name="keywords" content="Dunosis, data analytics, web development, tech consulting, technology, business, analytics, web design, consulting">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Project CSS Link -->
    <link rel="stylesheet" href="{% static 'landing/css/about.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9451864d27.js" crossorigin="anonymous"></script>

    <!-- Title -->
    <title>Dunosis-About</title>
    <link rel="icon" href="../../static/landing/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <div class="header-logo">
            <img src="../../static/landing/img/logo.png" alt="Dunosis Logo" width="50" height="50">
            <p class="logo-text">DUNOSIS</p>
        </div>
        <nav>
            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="">Pricing</a>
                <a href="">Portfolio</a>
            </div>
            <div class="hamburger-menu">
              <i class="fas fa-bars"></i>
            </div>
            <div class="mobile-nav-links">
                <a href="">About</a>
                <a href="">Pricing</a>
                <a href="">Portfolio</a>
            </div>
        </nav>
    </header>

    <section class="about-hero">
        <!-- Header -->
        <h1>Proven track record working with small business in Chicago!</h1>

        <!-- Cards Container -->
        <div class="cards-container">
            <div class="card card-left">
                <img src="../../static/landing/img/Wesley_Web_Final.png" alt="Data Analytics" width="300" height="300">
            </div>
            <div class="card card-center">
                <img src="../../static/landing/img/Wesley_Web_Final.png" alt="Data Analytics" width="300" height="300">
            </div>
            <div class="card card-right">
                <img src="../../static/landing/img/Wesley_Web_Final.png" alt="Data Analytics" width="300" height="300">
            </div>
        </div>

        <!-- Learn More Button -->
        <button class="learn-more-btn">Learn How We Can Work Together!</button>

        <!-- Revolving Banner -->
        <div class="revolving-banner">
            <div class="banner-content">
                <p>Excellent Service</p>
                <p>Proudly Latino And Bilingual</p>
                <p>Driven By Hard Work And Curiosity</p>
                <p>Your Business Comes First</p>
                <!-- Duplicate Banner Contennt for seamless scroll-->
                <p>Excellent Service</p>
                <p>Proudly Latino And Bilingual</p>
                <p>Driven By Hard Work And Curiosity</p>
                <p>Your Business Comes First</p>
            </div>
        </div>
    </section>

    <section class="about-overview">
        <div class="about-content">
            <h1>About Us</h1>
            <p>Dunosis is a technology company that specializes in advanced data analytics, stunning web development, and insightful tech consulting. We are a team of highly skilled professionals who are passionate about technology and its potential to transform businesses. Our mission is to help our clients harness the power of data and technology to drive growth, innovation, and success. Whether you need help with data analysis, web development, or tech consulting, we have the expertise and experience to deliver exceptional results. Contact us today to learn more about how we can help you achieve your business goals.</p>
        </div>
    </section>

    <footer>
        <!-- Left Section: Logo -->
        <div class="footer-logo">
            <img src="../../static/landing/img/logo.png" alt="Dunosis Logo" width="50" height="50">
            <span>DUNOSIS</span>
        </div>

        <!-- Middle Section: Navigation Links -->
        <nav class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
        </nav>

        <!-- Right Section: Social Icons and Contact -->
        <div class="footer-social-icons">
            <div class="social-icons">
                <div class="social-icon-container">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="social-icon-container">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="social-icon-container">
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div class="social-icon-container">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-contact">
            <div class="contact-info">
                <p><i class="fa fa-map-marker"></i> Chicago, IL</p>
                <p><i class="fa fa-phone"></i> +1 (601) 308-0127</p>
                <p><i class="fa fa-envelope"></i> info@dunosis.com</p>
            </div>
        </div>  
    </footer>

</body>

</html>