{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dunosis is a technology company that specializes in advanced data analytics, stunning web development, and insightful tech consulting.">
    <meta name="keywords" content="Dunosis, data analytics, web development, tech consulting, technology, business, analytics, web design, consulting">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Project CSS Link -->
    <link rel="stylesheet" href="{% static 'landing/css/main.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9451864d27.js" crossorigin="anonymous"></script>

    <!-- Title -->
    <title>Dunosis</title>
    <link rel="icon" href="../../static/landing/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <!-- Navbar/Header TODO: work on styling and JS to hide it until scrolled down -->
    <header>
        <div class="header-logo">
            <img src="../../static/landing/img/logo.png" alt="Dunosis Logo" width="50" height="50">
            <p class="logo-text">DUNOSIS</p>
        </div>
        <nav>
            <div class="nav-links">
                <a href="">About</a>
                <a href="">Pricing</a>
                <a href="">Portfolio</a>
            </div>
        </nav>
    </header>
    <section class="hero-section">
        <div class="hero-container">
            <h1 class="hero-title">DUNOSIS</h1>
            <p>Where Knowledge Meets Power</p>
            <a href="#services-section" onclick="onLearnMoreClick" class="learn-more">Learn More</a>
        </div>
    </section>
    <section class="services-section" id="services-section">
        <div class="service-item">
          <div class="number">
            <h1>1.</h1>
          </div>
          <div class="content">
            <h2>Advanced Data Analytics</h2>
            <p>
              Unlock the full potential of your data with our advanced analytics solutions. We dive deep into your data to uncover actionable insights, empowering you to make smarter, faster decisions. Whether it's predictive modeling, trend analysis, or real-time reporting, our cutting-edge analytics transform complexity into clarity, driving your business forward.
            </p>
          </div>
        </div>
    
        <div class="service-item">
          <div class="number">
            <h1>2.</h1>
          </div>
          <div class="content">
            <h2>Stunning Web Development</h2>
            <p>
              Bring your vision to life with stunning web development that blends creativity and functionality. We craft responsive, user-centric websites designed to engage and convert. Whether it’s a sleek portfolio, a dynamic e-commerce platform, or a custom web app, our expert team builds with precision and innovation, ensuring your online presence stands out and performs flawlessly.
            </p>
          </div>
        </div>
    
        <div class="service-item">
          <div class="number">
            <h1>3.</h1>
          </div>
          <div class="content">
            <h2>Insightful Tech Consulting</h2>
            <p>
              Navigate the ever-evolving tech landscape with confidence. Our insightful tech consulting services provide you with tailored strategies and expert guidance to streamline operations and fuel growth. From optimizing your infrastructure to integrating cutting-edge solutions, we help you harness the right technology to drive results and future-proof your business.
            </p>
          </div>
        </div>
      </section>
      <section class="reviews-section">
        <div class="reviews-container">
        <div class="review-item">
          <div class="review-content">
            <p>
              “Working with Dunosis was a game-changer for our business. They delivered a clean, professional website that perfectly met our needs. The team was responsive and went above and beyond to make sure we were happy with the final product.”            </p>
            <h3>Emily Mercado</h3>
            <h4>CEO, Plant Co.</h4>
          </div>
        </div>
    
        <div class="review-item">
          <div class="review-content">
            <p>
              ”Dunosis transformed our outdated site into a modern, user-friendly experience. Their attention to detail and commitment to meeting deadlines was outstanding. Highly recommend for any business looking to elevate their online presence.”            </p>
            <h3>Timothy Winters</h3>
            <h4>Marketing Director</h4>
          </div>
        </div>
    
        <div class="review-item">
          <div class="review-content">
            <p>
              “The team at Dunosis was incredibly skilled and professional. They understood our vision from the start and executed it flawlessly. Great communication throughout the entire process. Will definitely work with them again!”            </p>
            <h3>Josue Quezada</h3>
            <h4>CEO, Denzity Productions</h4>
          </div>
        </div>
      </div>
      </section>
      <footer>
        <div class="footer-container">
          <div class="footer-content">
            <h1>Discover How To Take Your Business to The Next Level</h1>
            <a href="mailto:info@dunosis.com?subject=Dunosis%20Inquiry&body=I%20would%20like%20to%20know%20more%20about%20your%20services.">
                <button class="contact-btn">Contact Us</button>
            </a>
        </div>
      </div>
        </footer>

       <!-- Bootstrap JS CDN -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <script type="text/javascript" src="{% static 'landing/js/script.js' %}"></script>
</body>
</html>