{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Dunosis is a technology company that specializes in advanced data analytics, stunning web development, and insightful tech consulting."
    />
    <meta
      name="keywords"
      content="Dunosis, data analytics, web development, tech consulting, technology, business, analytics, web design, consulting"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Project CSS Link -->
    <link rel="stylesheet" href="{% static 'landing/css/portfolio.css' %}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/9451864d27.js"
      crossorigin="anonymous"
    ></script>

    <!-- Title -->
    <title>Dunosis Portfolio</title>
    <link
      rel="icon"
      href="../../static/landing/img/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          src="../../static/landing/img/logo.png"
          alt="Dunosis Logo"
          width="50"
          height="50"
        />
        <p class="logo-text">DUNOSIS</p>
      </div>
      <nav>
        <div class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'services' %}">Services</a>
        </div>
        <div class="hamburger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <div class="mobile-nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'services' %}">Service</a>
        </div>
      </nav>
    </header>

    <section class="portfolio-section">
      <h1>Portfolio</h1>
      <p class="description">
        Explore our portfolio to see how we’ve helped businesses and
        organizations turn their ideas into impactful digital solutions. From
        custom website development to data analytics dashboards and tech
        consulting, each project showcases our commitment to delivering
        high-quality results tailored to the unique needs of our clients. Dive
        into our past work and see how we can bring your vision to life.
      </p>

      <div class="project-list">
        <!-- Project 1 -->
        <div class="project-item">
          <div class="project-image">
            <a href="https://www.cpandadvisors.com">
              <img
                src="../../static/landing/img/cp&advisors-img.png"
                alt="CP & Advisors"
                width="300"
                height="300"
              />
            </a>
          </div>
          <div class="project-info">
            <h2>CP & Advisors</h2>
            <p>
              This project involved developing a professional website for
              CP&Advisors, an accounting firm in St. Louis dedicated to serving
              the Latino community. The website features a Home, About,
              Services, and Blog page, providing potential clients with an
              easy-to-navigate platform to learn more about the firm’s services.
              The site emphasizes the firm’s commitment to the community,
              offering bilingual support and tailored accounting solutions for
              local businesses and individuals.
            </p>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="project-item">
          <div class="project-image">
            <a href="https://www.communidata.app">
              <img
                src="../../static/landing/img/communidata-img.jpeg"
                alt="CP & Advisors"
                width="300"
                height="300"
              />
            </a>
          </div>
          <div class="project-info">
            <h2>CommuniData</h2>
            <p>
              CommuniData is a robust website designed to provide community
              organizations with access to essential data dashboards. The
              platform includes a login feature that allows users to access
              relevant community data on various topics, including crime rates,
              demographic trends, and resource distribution. The intuitive
              interface ensures that community leaders can analyze and visualize
              data to make informed decisions that drive positive change in
              their communities.
            </p>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="project-item">
          <div class="project-image">
            <a href="https://wepa-mercadodelpueblo.squarespace.com/">
              <img
                src="../../static/landing/img/wepa-img.png"
                alt="CP & Advisors"
                width="300"
                height="300"
              />
            </a>
          </div>
          <div class="project-info">
            <h2>¡WEPA! Mercado del Pueblo</h2>
            <p>
              For WEPA, a small business incubator based in Chicago, this
              project created a comprehensive informational page that highlights
              the incubator’s mission and services. The page offers resources
              for local entrepreneurs and startups, detailing WEPA’s commitment
              to fostering economic growth in the Latino community. The site
              serves as a key resource for potential participants looking to
              learn more about WEPA’s initiatives and programs.
            </p>
          </div>
        </div>

        <!-- Project 4 -->
        <div class="project-item">
          <div class="project-image">
            <a href="https://midwest-untouchable-graphics.squarespace.com/">
              <img
                src="../../static/landing/img/mug-img.jpeg"
                alt="CP & Advisors"
                width="300"
                height="300"
              />
            </a>
          </div>
          <div class="project-info">
            <h2>Midwest Untouchable Graphics</h2>
            <p>
              The MUG project is an e-commerce platform dedicated to selling
              handcrafted, Puerto Rican-themed artisanal products. The site is
              fully integrated with Stripe payments for secure transactions and
              a shipping system to handle order fulfillment seamlessly. The
              platform provides a beautiful and functional shopping experience,
              allowing customers to purchase unique cultural items while
              supporting local artisans.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="data-analytics-section">
      <h1>Data Science and Analysis Portfolio</h1>

      <div class="project-list">
        <!-- Project 1 -->
        <div class="project">
          <div class="project-info">
            <h2>
              Data Infrastructure and Dashboard Development for Stakeholder
              Insights
            </h2>
            <p>
              We partnered with Swoovy, a startup connecting people to
              volunteering opportunities in non-profits, to overhaul their data
              infrastructure. Working closely with their team, we revamped their
              data systems and developed intuitive dashboards to provide
              stakeholders with clear insights into funding and financial data.
              This project empowered Swoovy’s leadership and corporate partners
              to make informed decisions, driving growth and improving impact.
            </p>
          </div>
          <div class="project-image">
            <a href="https://swoovy.com/">
              <img
                src="../../static/landing/img/swoovy-logo.webp"
                alt="Swoovy Logo"
                width="300"
                height="300"
              />
            </a>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="project">
          <div class="project-info">
            <h2>
              Bolivia's Migration Trends: Insights into Bolivia's Urban Growth
            </h2>
            <p>
              This Google Data Analytics Capstone Project explores migration and
              displacement patterns within Bolivia, focusing on the rapid growth
              of Santa Cruz. Using data from the 2021 Survey for Homes of
              Bolivia, I analyzed migration trends, socioeconomic indicators,
              and labor statistics to provide valuable insights for urban
              planners, policymakers, and business leaders. The project serves
              as a tool to guide sustainable growth and informed decision-making
              in Santa Cruz and beyond.
            </p>
          </div>
          <div class="project-image">
            <a
              href="https://wesordonez.github.io/Data_Analysis_Bolivian_Migration/"
            >
              <img
                src="../../static/landing/img/migration-project.png"
                alt="Bolivia Map"
                width="300"
                height="300"
              />
            </a>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="project">
          <div class="project-info">
            <h2>
              CommuniData-Humboldt Park: Empowering Communities Through Data
            </h2>
            <p>
              CommuniData is an innovative data visualization dashboard designed
              for community organizations in Chicago. It provides a
              user-friendly platform for analyzing critical data related to
              community development. From tracking crime rates to monitoring
              demographic trends and community resources, CommuniData equips
              organizations with the tools to visualize, explore, and gain
              valuable insights. With this powerful tool, community leaders can
              make informed decisions and communicate their findings
              effectively, driving positive change and fostering growth within
              their communities.
            </p>
          </div>
          <div class="project-image">
            <a href="https://www.communidata.app">
              <img
                src="../../static/landing/img/communidata-project.png"
                alt="Humboldt Park"
                width="300"
                height="300"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- Call to Action -->
      <div class="call-to-action">
        <p>Why wait?! Give your business what it deserves, Contact us now!</p>
        <a href="{% url 'home' %}">
          <button class="learn-more-btn">Learn More</button>
        </a>
      </div>
    </section>

    <footer>
      <!-- Left Section: Logo -->
      <div class="footer-logo">
        <img
          src="../../static/landing/img/logo.png"
          alt="Dunosis Logo"
          width="50"
          height="50"
        />
        <span>DUNOSIS</span>
      </div>

      <!-- Middle Section: Navigation Links -->
      <nav class="nav-links">
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'portfolio' %}">Portfolio</a>
      </nav>

      <!-- Right Section: Social Icons and Contact -->
      <div class="footer-social-icons">
        <div class="social-icons">
          <div class="social-icon-container">
            <a href="https://www.instagram.com/dunosis_web/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
          <div class="social-icon-container">
            <a href="https://www.facebook.com/profile.php?id=61565984502377"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </div>
          <div class="social-icon-container">
            <a href="https://www.linkedin.com/company/dunosis/about/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </div>
          <div class="social-icon-container">
            <a href="https://wa.me/6013080127?text=Hi! I'm interested in..."
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-contact">
        <div class="contact-info">
          <p><i class="fa fa-map-marker"></i> Chicago, IL</p>
          <p><i class="fa fa-phone"></i> +1 (601) 308-0127</p>
          <p><i class="fa fa-envelope"></i> info@dunosis.com</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'landing/js/script.js' %}"
    ></script>
  </body>
</html>
